<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />
<script th:src="@{/js/property_form_images.js}"></script>
<script th:src="@{/js/property_deletion.js}"></script>
<script type="text/javascript">
    MAX_FILE_SIZE=5000000       //5 MB

    // because we can't use thymeleaf in js code, we declare this variable here, and use it in product_form.js
    defaultThumbnailImageSrc = "[[@{/images/image-thumbnail.png}]]"

    const BUTTON_DELETE_IMAGE = "[[${deleteButtonMessage}]]";
    const LABEL_IMAGE_NUMBER = "[[${imageNoLabel}]]";
</script>
<body class="h-screen bg-gray-100" >

<div th:replace="~{navigation :: header_menu}" />

<div th:replace="~{fragments :: gdpr}" />

<div th:replace="~{fragments :: deletion_confirmation}" />

<div class="flex pt-16">

    <!-- Main Content -->
    <main class="flex bg-white p-2 w-full max-w-full">
        <div class="w-4/5 md:w-3/4 flex-1 mb-4 mr-2 p-2 h-full ">
            <div class="p-2 bg-white rounded-lg shadow-md">
                <h2 class="text-gray-500 text-xl sm:text-2xl md:text-2xl mb-2" th:text="#{add.title}"/>
                <form id="addForm" class="" th:action="@{/api/apartments/save}" method="POST" enctype="multipart/form-data" th:object="${apartment}">
                    <input th:if="${apartment.id != null}" type="hidden" name="id" th:value="${apartment.id}" />
                    <div class="mb-4">
                        <label for="name" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.title}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <input type="text" id="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
         focus:shadow-outline" th:field="*{name}" th:placeholder="#{add.placeholder.title}" />
                    </div>
                    <div class="mb-4">
                        <label for="city" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.city}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <select id="city" th:field="*{city}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <th:block th:each="city: ${listCities}">
                                <option th:value="${city}">[[${city}]]</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="area" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.area}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <input type="text" id="area" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" th:field="*{Area}"
                               th:placeholder="#{add.placeholder.area}">
                    </div>
                    <div class="mb-4">
                        <label for="propertyType" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.propertyType}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <select id="propertyType" th:field="*{propertyType}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
         focus:shadow-outline">
                            <th:block th:each="propertyType: ${listPropertyTypes}">
                                <option th:value="${propertyType}">[[${propertyType}]]</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="description" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.description}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <textarea id="description"
                                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-20 md:h-28 lg:h-36"
                                  th:field="*{shortDescription}"
                                  th:placeholder="#{add.placeholder.description}"></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="price" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.price}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <input type="number" id="price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" th:field="*{price}">
                    </div>
                    <div class="mb-4">
                        <label for="surface" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.surface}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <input type="number" id="surface" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" th:field="*{surface}">
                    </div>
                    <div class="mb-4">
                        <label for="noOfRooms" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.noofrooms}"></span>
                            <span class="text-red-500">*</span>:
                        </label>
                        <input type="number" id="noOfRooms" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" th:field="*{noOfRooms}">
                    </div>
                    <div class="mb-4">
                        <label for="floor" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.floor}"></span>:
                        </label>
                        <input type="text" id="floor" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" th:field="*{floor}"
                               th:placeholder="#{add.placeholder.floor}">
                    </div>
                    <div class="mb-4">
                        <label for="tags" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.tags}"></span>:
                        </label>
                        <input type="text" id="tags" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" th:field="*{TagsWithSplit}"
                            th:placeholder="#{add.placeholder.tags}">
                    </div>
                    <div class="mb-4">
                        <label for="contact" class="block text-gray-700 font-bold mb-2">
                            Contact<span class="text-red-500">*</span>:
                        </label>
                        <input type="text" id="contact" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               th:field="*{contact}"
                               th:placeholder="#{add.placeholder.contact}"/>
                    </div>
                    <div class="mb-4">
                        <label for="whatsapp" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.whatsapp}" />:
                        </label>
                        <input type="checkbox" id="whatsapp" th:field="*{whatsapp}" />
                    </div>
                    <div th:if="${apartment.creationDateTime != null}" class="mb-4">
                        <label for="creationDateTime" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.creationdate}"/>:
                        </label>
                        <input type="text" id="creationDateTime" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-200" th:field="*{creationDateTime}" readonly/>
                    </div>
                    <div class="mb-4">
                        <label for="active" class="block text-gray-700 font-bold mb-2">
                            <span th:text="#{add.label.visibile}" />:
                        </label>
                        <input type="checkbox" id="active" th:field="*{active}">
                    </div>

                    <span th:text="#{add.label.numberofimages}"/>
                    <span> : [[${numberOfExistingImages}]]</span>
                    <div class="mb-4" id="apartmentImages">
                        <div th:each="image, status : ${apartment.images}" class="col border m-3 p-2" th:id="'divImage'+${status.index}">
                            <div th:id="'imageHeader'+${status.index}">
                                <label>
                                    <span th:text="#{add.label.imagenumber}"></span>
                                    [[${status.index+1}]]
                                </label>
                            </div>
                            <div class="m-2">
                                <img th:id="'imageThumbnail'+${status.index}" alt="Image preview" class="img-fluid"
                                     th:src="${image}"/>
                            </div>
                            <div>
                                <input type="hidden" name="images" th:id="'imageName'+ ${status.index}" th:value="${image}" />
                            </div>
                            <a name="linkRemoveImage" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                            th:text="#{add.a.deleteimage}"/>
                        </div>
                        <div class="col border m-3 p-2" th:id="'divImage'+${numberOfExistingImages+1}">
                            <div th:id="'imageHeader'+${numberOfExistingImages}">
                                <label>
                                    <span th:text="#{add.label.imagenumber}"></span>
                                    [[${numberOfExistingImages + 1}]]
                                </label>
                            </div>
                            <div class="m-2">
                                <img th:id="'newImageThumbnail0'" alt="Image preview" class="img-fluid"
                                     th:src="@{/images/image-thumbnail.png}"/>
                            </div>
                            <div>
                                <input type="file" name="apartmentImages" accept="image/png, image/jpeg" />
                            </div>
                        </div>

                    </div>
                </form>

                <div class="flex items-center justify-between">
                    <button type="submit" form="addForm" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-10">
                        [[${buttonMessage}]]
                    </button>
                    <button th:if="${apartment.id != null}" type="button"
                            id="deleteButton"
                            th:text="#{add.button.delete}"
                            class="bg-red-500 font-bold text-white px-4 py-2 rounded hover:bg-red-600"
                            th:data-url="@{{appUrl}/api/apartments/delete/{apartmentId}(apartmentId=${apartment.id},appUrl=${appUrl})}"/>
                </div>
            </div>

        </div>
        <div class="w-1/5 md:w-1/4 p-2 ">
            <div class="p-2 bg-white rounded-lg shadow-md">
                <span class="block text-gray-700 font-bold mb-2" th:text="#{add.title.properties}" />
                <ol class="list-decimal list-inside">
                    <li th:each="property : ${listOfProperties}">
                        <a class="hover:underline text-gray-700" th:href="@{'/edit/'+${property.id}}">[[${#strings.substring(property.name, 0, property.name.length > 30 ? 30 : property.name.length)}]]...</a>
                    </li>
                </ol>
            </div>

        </div>
    </main>
</div>

<head th:replace="~{fragments :: footer}" />

</body>