<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menu">
    <main class="bg-white p-6 w-full max-w-full shadow rounded-lg">
        <nav class="bg-white shadow p-6 flex items-center justify-center space-x-16 rounded-lg">
            <a href="/a/leads"
               class="text-gray-700 hover:text-blue-600 font-semibold text-lg transition-colors">Leads</a>
            <a href="/a/listings"
               class="text-gray-700 hover:text-blue-600 font-semibold text-lg transition-colors">Listings</a>
            <a href="/a/users"
               class="text-gray-700 hover:text-blue-600 font-semibold text-lg transition-colors">Users</a>
            <a href="/a/settings"
               class="text-gray-700 hover:text-blue-600 font-semibold text-lg transition-colors">Settings</a>
        </nav>
    </main>
</div>