<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />

<!--    <meta name="_csrf" th:content="${_csrf.token}" />-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}" />-->
<!--<script>-->
<!--    document.addEventListener("htmx:configRequest", function (evt) {-->

<!--        console.log("ciuciucaaaa");-->
<!--        evt.detail.headers["accept"] = "text/html-partial";-->

<!--          if (evt.detail.verb !== "get") {-->
<!--            const csrfHeaderName = document-->
<!--              .querySelector("meta[name='_csrf_header']")-->
<!--              .getAttribute("content");-->
<!--            evt.detail.headers[csrfHeaderName] = document-->
<!--              .querySelector("meta[name='_csrf']")-->
<!--              .getAttribute("content");-->
<!--          }-->
<!--});-->
<!--</script>-->


<script>
    //const sseId = "[[${sseId}]]";
    //console.log("SSE ID:", sseId);

    const saveFavouritesTranslated = "[[${saveFavouritesTranslated}]]";
    const M01_INITIAL_MESSAGE = "[[${M01_INITIAL_MESSAGE}]]";
    const M02_CITY = "[[${M02_CITY}]]";
    const M03_DETAILS_PART_2 = "[[${M03_DETAILS_PART_2}]]";
    const M04_APARTMENTS_FOUND_START = "[[${M04_APARTMENTS_FOUND_START}]]";
    const GOOGLE_MAPS_API_KEY = "[[${googleMapsApiKey}]]";
    const SHARE_ERROR = "[[${listingShareError}]]";

    const TOASTIFY_CONNECTED = "[[${toastifyConnected}]]";
    const TOASTIFY_DISCONNECTED = "[[${toastifyDisconnected}]]";
    const TOASTIFY_NO_INTERNET = "[[${toastifyNointernet}]]";
    const TOASTIFY_RECONNECTING = "[[${toastifyReconnecting}]]";

    const APP_URL = "[[${appUrl}]]";
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script th:src="@{/js/swiper.js}"></script>

<script th:src="@{/js/chat_history.js}"></script>
<script th:src="@{/js/chat_general.js}"></script>
<script th:src="@{/js/property_map.js}"></script>
<script th:src="@{/js/property_general.js}"></script>

<body class="h-screen bg-gray-100" >

<head th:replace="~{navigation :: header_menu}" />

<div th:replace="~{fragments :: gdpr}" />

<div id="mainContainer" class="flex h-[99%] pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-4 h-full overflow-auto">
            <div class="mb-2">
                <p class="assistantResponse inline-block bg-slate-50 rounded-lg p-2 ml-auto">
                    [[${initialMessage}]]
                    <span th:if="${queriesAvailableMessage!= null}" class="text-red-500">[[${queriesAvailableMessage}]]</span>
                </p>
            </div>

        </div>

        <img id="spinner" style="display:none;" class="absolute m-auto inset-0" src="/images/bars.svg"/>

        <div class="mb-4">
            <!-- Suggestion Items -->
            <div id="suggestions" class="flex flex-wrap gap-2 mb-4 justify-center items-end max-h-[50vh] overflow-y-auto">

            </div>
            <form id="chatForm"
                  enctype="multipart/form-data"
                  class="w-full"
                  hx-post="/message"
                  hx-swap="beforeend"
                  hx-target="#response-container">

                <div id="audioRecProgress" style="display:none;background: #fd0713" class="animate-pulse text-center text-white px-4 py-2 mb-4 rounded-full z-10">
                    [[#{chat.input.recording}]]
                </div>
                <div class="flex items-center bg-gray-200 rounded-full p-2 shadow-md">

                    <input id="message" name="message" required pattern="[a-zA-Z0-9\\s\.\';,-]+" class="bg-gray-200 outline-none text-gray-700 rounded-full py-2 px-4 w-full" type="text" th:placeholder="#{chat.input.placeholder}" autocomplete="off" />
                    <input type="file" id="audioFile" name="audioFile" style="display: none;"   />

                    <button id="sendMessageButton" type="submit" class="w-8 h-8 bg-gray-300 hover:bg-gray-400 text-gray-600 rounded-full p-2 ml-2">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
                        </svg>
                    </button>
                    <button id="recordVoiceButton" type="button" class="w-8 h-8 bg-gray-300 hover:bg-gray-400 text-gray-600 rounded-full p-2 ml-2">
                        <img id="recordMicrophone" src="/images/microphone.svg"/>
                    </button>

                </div>
                <p class="text-center text-xs" th:text="#{chat.input.disclaimer}" />
                <p id="testing-sse-id" class="text-center text-xs" />
            </form>
        </div>

        <div th:replace="~{fragments :: property_images_modal}" />

        <div th:replace="~{fragments :: property_map}" />

    </main>
</div>

<head th:replace="~{fragments :: footer}" />

</body>
</html>