<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />

<!--    <meta name="_csrf" th:content="${_csrf.token}" />-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}" />-->
<!--<script>-->
<!--    document.addEventListener("htmx:configRequest", function (evt) {-->

<!--        console.log("ciuciucaaaa");-->
<!--        evt.detail.headers["accept"] = "text/html-partial";-->

<!--          if (evt.detail.verb !== "get") {-->
<!--            const csrfHeaderName = document-->
<!--              .querySelector("meta[name='_csrf_header']")-->
<!--              .getAttribute("content");-->
<!--            evt.detail.headers[csrfHeaderName] = document-->
<!--              .querySelector("meta[name='_csrf']")-->
<!--              .getAttribute("content");-->
<!--          }-->
<!--});-->
<!--</script>-->


<script>
    const sseId = "[[${sseId}]]";
    console.log("SSE ID:", sseId);
</script>


<script th:src="@{/js/chat_history.js}"></script>
<script th:src="@{/js/chat_record_audio.js}"></script>
<script th:src="@{/js/chat_general.js}"></script>
<script th:src="@{/js/property_map.js}"></script>

<body class="h-screen bg-gray-100" >

<head th:replace="~{navigation :: header_menu}" />

<div class="flex h-[90%] pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-4 h-full overflow-auto">
            <div class="mb-2">
                <p class="inline-block bg-slate-50 rounded-lg p-2 ml-auto" th:text="${initialMessage}"></p>
            </div>

        </div>

        <img id="spinner" style="display:none;" class="absolute m-auto inset-0" src="/images/bars.svg"/>

        <div class="">
            <form id="chatForm"
                  enctype="multipart/form-data"
                  class="w-full"
                  hx-post="/message"
                  hx-swap="beforeend"
                  hx-target="#response-container">

                <div class="flex items-center bg-gray-200 rounded-full p-2 shadow-md">

                    <input id="message" name="message" required pattern="[a-zA-Z0-9\\s\.\';,-]+" class="bg-gray-200 outline-none text-gray-700 rounded-full py-2 px-4 w-full" type="text" placeholder="Message Imobil AI" autocomplete="off" />
                    <input type="file" id="audioFile" name="audioFile" style="display: none;"   />

                    <button id="sendMessageButton" type="submit" class="w-8 h-8 bg-gray-300 hover:bg-gray-400 text-gray-600 rounded-full p-2 ml-2">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
                        </svg>
                    </button>
                    <button id="recordVoiceButton" type="button" class="w-8 h-8 bg-gray-300 hover:bg-gray-400 text-gray-600 rounded-full p-2 ml-2">
                        <img id="recordMicrophone" src="/images/microphone.svg"/>
                    </button>

                </div>
            </form>
        </div>

        <!-- Lightbox Modal -->
        <div id="lightbox" style="display: none;" class="lightbox fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50" onclick="closeLightbox()">
            <span class="absolute top-4 right-4 text-white text-3xl cursor-pointer" onclick="closeLightbox()">&times;</span>
            <img id="lightbox-img" class="max-w-full max-h-full rounded-lg shadow-lg" />
        </div>

        <div id="mapModal" class="lightbox fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50 hidden">
            <span id="closeMapModal" class="absolute top-4 right-4 text-white text-3xl cursor-pointer">&times;</span>
            <div id="lightbox-map" class="max-w-full max-h-full rounded-lg shadow-lg">
                <iframe
                        id="mapFrame"
                        width="600"
                        height="450"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="">
                </iframe>
            </div>
        </div>

    </main>
</div>
<script>
    // Open the lightbox with the clicked image
    function openLightbox(src) {
        document.getElementById('lightbox-img').src = src;
        document.getElementById('lightbox').style.display = 'flex';
    }

    // Close the lightbox
    function closeLightbox() {
        document.getElementById('lightbox').style.display = 'none';
    }

</script>
</body>
</html>