<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />

<body class="h-screen bg-gray-100" >

<head th:replace="~{navigation :: header_menu}" />

<script>
    // Automatically open the login modal when the page loads
    window.onload = function() {
        openLoginModal()
    }
</script>
<div class="flex h-[90%] pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div class="flex justify-center items-center min-h-screen">
            <div class="max-w-md text-center bg-white p-6 rounded-lg shadow-md">
                <span class="text-lg font-serif leading-relaxed">
                    [[${errorMessage}]]
                </span>
            </div>
        </div>

    </main>
</div>

<head th:replace="~{fragments :: footer}" />

</body>