<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />

<body class="h-screen bg-gray-100" >

<head th:replace="~{navigation :: header_menu}" />

<div class="flex h-[90%] pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-4 h-full overflow-auto">
            <div th:if="${apartments.isEmpty()}">
                You have no favourite properties.
            </div>

            <div th:replace="~{fragments :: apartments_list('&hearts;')}" />

        </div>

    </main>
</div>
</body>