<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />
<script>
    const saveFavouritesTranslated = "[[${saveFavouritesTranslated}]]";
    const GOOGLE_MAPS_API_KEY = "[[${googleMapsApiKey}]]";
    const SHARE_ERROR = "[[${listingShareError}]]";
    const APP_URL = "[[${appUrl}]]";
</script>
<script th:src="@{/js/property_map.js}"></script>
<script th:src="@{/js/property_general.js}"></script>
<script th:src="@{/js/swiper.js}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<body class="h-screen bg-gray-100" >

<head th:replace="~{navigation :: header_menu}" />

<div th:replace="~{fragments :: gdpr}" />

<div class="flex pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-2 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-2 h-full overflow-auto">
            <div th:if="${apartments.isEmpty()}" class="flex justify-center items-center min-h-screen">
                <div class="max-w-md text-center bg-white p-6 rounded-lg shadow-md">
                    <span class="text-lg font-serif leading-relaxed" th:text="#{favourites.nofavourites}">
                        You have no favourite properties.
                    </span>
                </div>
            </div>

            <div th:replace="~{fragments :: apartments_list('&hearts;', 'favourites')}" />

        </div>

        <!-- Lightbox Modal -->
        <div th:replace="~{fragments :: property_images_modal}" />

        <div th:replace="~{fragments :: property_map}" />

    </main>
</div>

<head th:replace="~{fragments :: footer}" />

</body>