<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- tells mobile browser to display the  page corectly on mobile screen -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Immobiliare AI</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script th:src="@{/js/navigation.js}"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
</head>

<body>

<div th:fragment="apartments_list(favouriteButtonStartMessage)">
    <div th:if="${apartments.isEmpty()}">
        You have no favourite properties.
    </div>
    <div th:each="apartment, status : ${apartments}" class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center">
            <div th:each="image, iterStat : ${apartment.images}">

                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img class="w-full h-auto object-cover cursor-pointer" th:src="@{${image}}" onclick="openLightbox(this.src)" alt="" onerror="this.onerror=null; this.src='https://st4.depositphotos.com/14953852/24787/v/380/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'">
                </div>

            </div>
        </div>

        <div class="w-full p-6">

            <span th:id="'hiddenApartmentId' + ${status.count}" style="display: none;">[[${apartment.id}]]</span>
            <h2 class="text-2xl font-bold text-gray-900">[[${apartment.name}]]</h2>
            <p class="text-gray-600 mt-2">Location: [[${apartment.city}]]</p>
            <p class="text-gray-600 mt-2">Area: [[${apartment.area}]]</p>
            <p class="text-gray-600 mt-2">[[${apartment.shortDescription}]]</p>
            <p class="text-gray-600 mt-2">Price: €[[${apartment.price}]]</p>
            <p class="text-gray-600 mt-2">Surface: [[${apartment.surface}]] sqm</p>
            <p class="text-gray-600 mt-2">No of Rooms: [[${apartment.noOfRooms}]]</p>
            <p class="text-gray-600 mt-2">Floor: [[${apartment.floor}]]</p>

            <p class="text-gray-600 mt-2">Tags:
                <span th:each="tag : ${apartment.tags}" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#[[${tag}]]</span>
            </p>

            <p th:id="'contactResult' + ${status.count}" class="text-red-500 font-bold mt-2">
                        <span class="flex justify-between">
                            <button class="text-blue-500 hover:text-blue-700"
                                    th:hx-swap = "outerHTML"
                                    th:hx-get="@{/api/apartments/getContact/{apartmentId}(apartmentId=${apartment.id})}"  >
                                Show contact
                            </button>

                            <button class="text-blue-500 hover:text-blue-700"
                                    th:hx-swap = "innerHTML"
                                    th:hx-get="@{/api/apartments/favourite/{apartmentId}(apartmentId=${apartment.id})}"
                                    th:text="${favouriteButtonStartMessage}">
                            </button>
                        </span>
            </p>
        </div>
    </div>

    <!-- Lightbox Modal -->
    <div id="lightbox" style="display: none;" class="lightbox fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50" onclick="closeLightbox()">
        <span class="absolute top-4 right-4 text-white text-3xl cursor-pointer" onclick="closeLightbox()">&times;</span>
        <img id="lightbox-img" class="max-w-full max-h-full rounded-lg shadow-lg" />
    </div>

    <script>
        // Open the lightbox with the clicked image
        function openLightbox(src) {
            document.getElementById('lightbox-img').src = src;
            document.getElementById('lightbox').style.display = 'flex';
        }

        // Close the lightbox
        function closeLightbox() {
            document.getElementById('lightbox').style.display = 'none';
        }
    </script>

</div>

</body>

</html>
