<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />

<body class="h-screen bg-gray-100" >

<head th:replace="~{navigation :: header_menu}" />

<div class="flex h-[90%] pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div class="flex justify-center items-center min-h-screen">
            <div class="max-w-md text-center bg-white p-6 rounded-lg shadow-md">
                <p class="text-lg font-serif leading-relaxed">
                   No hidden fees, no games to play, <br />
                   No commission clouds the way. <br /> <br />
                   Imobil.ai, where trust is free, <br />
                   Your future home, where you should be. <br />
                </p>
            </div>
        </div>

    </main>
</div>
</body>