<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>

<div th:fragment="header_menu">
    <div class="fixed top-0 left-0 z-50 bg-gray-100 px-4 mx-auto w-full sm:px-6">

        <div class="relative pt-6 pb-6">
            <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
                <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                    <div class="flex items-center justify-between w-full md:w-auto">
                        <a href="/">
                            <h1 class="text-4xl text-gray-500 font-bold">Imobil AI</h1>
                        </a>
                    </div>
                </div>

                <div class="menu-container">
                    <div class="flex items-center -mr-2 md:hidden">
                        <div class="menu-button-container">
                            <button id="menuButton" class="inline-flex items-center justify-center p-2 text-gray-400 bg-gray-50 rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-50"
                                    type="button" aria-expanded="false" onclick="toggleMenu()">
                                <span class="sr-only">Open main menu</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div id="menuItems" class="hidden md:flex md:space-x-10 list-none">
                        <li>
                            <a href="/chat" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                               target="">Search</a>
                        </li>
                        <li>
                            <a href="/favourites" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                               target="">Favourites
                            </a>
                        </li>
                        <li>
                            <a href="/add" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                               target="">Add/Edit
                            </a>
                        </li>
                        <li>
                            <a href="/profile" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                               target="">Profile
                            </a>
                        </li>
                        <li>
                            <a href="/help" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                               target="_blank">Help
                            </a>
                        </li>
                        <li>
                            <a href="/contact" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                               target="_blank">Contact
                            </a>
                        </li>
                    </div>
                    <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
                        <div class="inline-flex rounded-full shadow">
                            <a href="javascript: document.logoutForm.submit()"
                                 class="inline-flex items-center px-4 py-2 text-base text-gray-900 bg-white border border-transparent rounded-full cursor-pointer font-base hover:bg-gray-50 ">
                                Logout
                            </a>
                        </div>
                    </div>
                    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                        <input type="submit" value="Logout" />
                    </form>
                </div>
            </nav>
        </div>
    </div>

</div>

<!--<div th:fragment="search_nav" class="row">-->
<!--    <th:block sec:authorize="isAuthenticated()">-->
<!--        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">-->
<!--            <input type="submit" value="Logout" />-->
<!--        </form>-->
<!--    </th:block>-->

<!--    <div class="col-md">-->
<!--        <nav class="navbar navbar-expand-sm bg-light">-->
<!--            <div class="collapse navbar-collapse" id="searchNavbar">-->
<!--                <form class="form-inline" th:action="@{/search}" method="get" >-->
<!--                    <input type="search" name="keyword" class="form-control mr-sm-2" placeholder="keyword" required-->
<!--                           th:value="${keyword}"/>-->
<!--                    <input type="submit" value="Search" class="btn btn-outline-success" />-->
<!--                </form>-->

<!--                <ul class="navbar-nav">-->
<!--                    <th:block sec:authorize="isAuthenticated()">-->
<!--                        <li class="nav-item">-->
<!--                            <b>-->
<!--                                <a class="nav-link" th:href="@{/account_details}" sec:authentication="principal.fullName"></a>-->
<!--                            </b>-->
<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" th:href="@{/address_book}">Address Book</a>-->
<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" th:href="@{/customer/questions}">Questions</a>-->
<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" th:href="@{/reviews}">Reviews</a>-->
<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" th:href="@{/orders}">Orders</a>-->
<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link fas fa-shopping-cart fa-2x" th:href="@{/cart}"></a>-->
<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>