<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />

<body class="h-screen bg-gray-100" >

<div th:replace="~{navigation :: header_menu}" />

<div th:replace="~{fragments :: gdpr}" />

<div class="flex pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-2 w-full max-w-full">
        <div class="flex-1 mb-4 p-2 h-full overflow-auto">
            <form class="p-2 bg-white rounded-lg shadow-md" th:action="@{/api/user/save}" method="POST" th:object="${user}">
                <h2 class="text-gray-500 text-xl sm:text-2xl md:text-2xl mb-2" th:text="#{profile.title}"/>
                <div class="mb-4">
                    <label for="name" class="block text-gray-700 font-bold mb-2">Email:</label>
                    <input type="text" id="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline bg-slate-200" th:field="*{email}"  readonly />
                </div>
                <div th:if="*{phoneNumber != null and phoneNumber != ''}" class="mb-4">
                    <label for="name" class="block text-gray-700 font-bold mb-2" th:text="#{profile.label.phoneNo}">Phone number:</label>
                    <input type="text" id="phoneNo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline bg-slate-200" th:field="*{phoneNumber}"  readonly />
                </div>
                <div class="mb-4">
                    <label for="city" class="block text-gray-700 font-bold mb-2" th:text="#{profile.label.city}"/>
                    <select id="city" th:field="*{city}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline">
                        <option value="" th:selected="${city == null}" th:text="#{profile.dropdown.city.default}"/>
                        <th:block th:each="city: ${listCities}">
                            <option th:value="${city}">[[${city}]]</option>
                        </th:block>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="propertyType" class="block text-gray-700 font-bold mb-2" th:text="#{profile.label.propertyType}"/>
                    <select id="propertyType" th:field="*{propertyType}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline">
                        <option value="" th:selected="${propertyType == null}" th:text="#{profile.dropdown.city.default}"/>
                        <th:block th:each="propertyType: ${listPropertyTypes}">
                            <option th:value="${propertyType}">[[${propertyType}]]</option>
                        </th:block>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="description" class="block text-gray-700 font-bold mb-2" th:text="#{profile.label.description}"/>
                    <textarea id="description"
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              th:field="*{lastPropertyDescription}"></textarea>
                </div>
                <div class="mb-4">
                    <label for="searchesAvailable" class="block text-gray-700 font-bold mb-2" th:text="#{profile.label.searches}"/>
                    <input type="text" id="searchesAvailable" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline bg-slate-200" th:field="*{searchesAvailable}"  readonly />
                </div>

                <div class="mb-4">
                    <label for="maxNumberOfListedProperties" class="block text-gray-700 font-bold mb-2" th:text="#{profile.label.noproperties}"/>
                    <input type="text" id="maxNumberOfListedProperties" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline bg-slate-200" th:field="*{maxNumberOfListedProperties}"  readonly />
                </div>

                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                            th:text="#{profile.button.update}"/>
                </div>
            </form>

            <form id="deleteUserForm" class="p-2 bg-white rounded-lg shadow-md mt-3" th:action="@{/api/user/delete}" method="POST" >
                <h2 class="text-gray-500 text-xl sm:text-2xl md:text-2xl mb-2" th:text="#{profile.title.delete}"/>
                <div class="mb-4">
                    <label for="confirmDeletionEmail" class="block text-gray-700 font-bold mb-2">Email:</label>
                    <input type="text" id="confirmDeletionEmail" name="confirmDeletionEmail" onpaste="return false;" th:placeholder="#{profile.input.delete.placeholder}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"   />
                </div>

                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
                    th:text="#{profile.title.delete}"/>
                </div>
            </form>
        </div>

    </main>
</div>

<head th:replace="~{fragments :: footer}" />

</body>