<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>

<body class="h-screen bg-gray-100" >

<div th:replace="~{navigation :: header_menu}" />

<div class="flex h-[90%] pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div class="flex-1 mb-4 p-4 h-full overflow-auto">
            <form class="w-[80%] p-6 bg-white rounded-lg shadow-md" th:action="@{/api/user/save}" method="POST" th:object="${user}">
                <div class="mb-4">
                    <label for="name" class="block text-gray-700 font-bold mb-2">Email:</label>
                    <input type="text" id="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline bg-slate-200" th:field="*{email}"  readonly />
                </div>
                <div class="mb-4">
                    <label for="city" class="block text-gray-700 font-bold mb-2">City you are interested in:</label>
                    <select id="city" th:field="*{city}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline">
                        <option value="" th:selected="${city == null}">-- Select an option --</option>
                        <th:block th:each="city: ${listCities}">
                            <option th:value="${city}">[[${city}]]</option>
                        </th:block>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="propertyType" class="block text-gray-700 font-bold mb-2">Property Type:</label>
                    <select id="propertyType" th:field="*{propertyType}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline">
                        <option value="" th:selected="${propertyType == null}">-- Select an option --</option>
                        <th:block th:each="propertyType: ${listPropertyTypes}">
                            <option th:value="${propertyType}">[[${propertyType}]]</option>
                        </th:block>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="description" class="block text-gray-700 font-bold mb-2">Detailed description of what you are looking for:</label>
                    <textarea id="description"
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              th:field="*{lastPropertyDescription}"></textarea>
                </div>
                <div class="mb-4">
                    <label for="searchesAvailable" class="block text-gray-700 font-bold mb-2">Searches Available:</label>
                    <input type="text" id="searchesAvailable" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline bg-slate-200" th:field="*{searchesAvailable}"  readonly />
                </div>

                <div class="mb-4">
                    <label for="maxNumberOfListedProperties" class="block text-gray-700 font-bold mb-2">Maximum number of listed properties:</label>
                    <input type="text" id="maxNumberOfListedProperties" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
     focus:shadow-outline bg-slate-200" th:field="*{maxNumberOfListedProperties}"  readonly />
                </div>

                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Update profile
                    </button>
                </div>
            </form>
        </div>

    </main>
</div>
</body>