<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div th:fragment="responseFragment" class="mb-8">
    <div class="inline-block bg-slate-100 rounded-lg p-2 ml-auto" th:text="${message}">Message</div>
    <p class="mt-4 h-full overflow-auto" th:text="${response}">Response</p>
</div>

<div th:fragment="responseFragmentWithApartments" class="mb-8">
    <div class="inline-block bg-slate-100 rounded-lg p-2 ml-auto" th:text="${message}">Message</div>
    <p class="mt-4 h-full overflow-auto" th:text="${response}">Response</p>

    <div class="columns-2">
        <div th:each="apartment : ${apartments}" class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-10">
            <div class="flex justify-center mb-4">
                <div th:each="image, iterStat : ${apartment.images}">

                    <div class="flex justify-center">
                        <img id="displayedImage" class="w-1/2 h-auto" th:src="@{${image}}" alt="" onerror="this.onerror=null; this.src='https://st4.depositphotos.com/14953852/24787/v/380/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'" />
                    </div>

                </div>
            </div>

            <div class="w-full p-6">
                <!-- TODO id of span should be the id of the apartment,-->
                <span id="hiddenDiv" style="display: none;">[[${apartment._id}]]</span>
                <h2 class="text-2xl font-bold text-gray-900">[[${apartment.name}]]</h2>
                <p class="text-gray-600 mt-2">Location: [[${apartment.city}]]</p>
                <p class="text-gray-600 mt-2">Area: [[${apartment.area}]]</p>
                <p class="text-gray-600 mt-2">[[${apartment.shortDescription}]]</p>
                <p class="text-gray-600 mt-2">Price: €[[${apartment.price}]]</p>
                <p class="text-gray-600 mt-2">Surface: [[${apartment.surface}]] sqm</p>
                <p class="text-gray-600 mt-2">No of Rooms: [[${apartment.noOfRooms}]]</p>
                <p class="text-gray-600 mt-2">Floor: [[${apartment.floor}]]</p>

                <p class="text-gray-600 mt-2">Tags:
                    <span th:each="tag : ${apartment.tags}" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#[[${tag}]]</span>
                </p>
            </div>
        </div>
    </div>


</div>


</body>