<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div th:fragment="responseFragment" class="mb-2">
    <div th:unless="${message == null || message.isEmpty()}" class="relative inline-block bg-sky-200 rounded-lg p-2 ml-auto userMessage" th:text="${message}">Message</div>
    <div th:unless="${response == null || response.isEmpty()}" class="relative inline-block bg-slate-50 rounded-lg p-2 ml-auto assistantResponse">
        <div th:utext="${response}">
        </div>
        <span th:if="${queriesAvailableMessage!= null}" class="text-red-500">[[${queriesAvailableMessage}]]</span>
    </div>

</div>

<div th:fragment="responseFragmentWithApartments" class="mb-2">
    <div th:unless="${response == null || response.isEmpty()}" class="inline-block bg-slate-50 rounded-lg p-2 ml-auto assistantResponse" >
        <div th:utext="${response}">
        </div>
        <span th:if="${queriesAvailableMessage!= null}" class="text-red-500">[[${queriesAvailableMessage}]]</span>
    </div>

    <div class="responseFragmentWithApartments grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    </div>

</div>


</body>