<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />
<script>
    const saveFavouritesTranslated = "[[${saveFavouritesTranslated}]]";
    const GOOGLE_MAPS_API_KEY = "[[${googleMapsApiKey}]]";
    const SHARE_ERROR = "[[${listingShareError}]]";
    const APP_URL = "[[${appUrl}]]";
</script>

<script th:src="@{/js/property_map.js}"></script>
<script th:src="@{/js/property_general.js}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<body class="h-screen bg-gray-100" >

<head th:replace="~{navigation :: header_menu}" />
<div th:replace="~{fragments :: gdpr}" />

<div class="flex h-[90%] pt-16">

    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-4 h-full overflow-auto">

            <div th:replace="~{fragments :: apartment_view(${apartment}, 100, ${favouriteButtonStartMessage}, ${pageName}, '','','')}"></div>

        </div>


        <div th:replace="~{fragments :: property_images_modal}" />

        <div th:replace="~{fragments :: property_map}" />

    </main>
</div>
</body>

<head th:replace="~{fragments :: footer}" />

</html>