HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/chpt02-MongoDBAtlasVectorSearch/src/main/resources/.env
/chpt04-immobiliare/src/main/resources/.env

### Frontend ###
/chpt04-immobiliare/src/main/frontend/node_modules/
/chpt04-immobiliare/src/main/resources/secrets.properties
/chpt04-immobiliare/src/main/resources/AWS-login.txt
/chpt05-llama3/src/main/resources/secrets.properties
/chpt08-gemini/src/main/resources/secrets.properties
/chpt04-immobiliare/src/main/resources/secrets-dev.properties
/chpt04-immobiliare/src/main/resources/secrets-prod.properties
/chpt04-immobiliare/src/main/resources/docker-google-ai-key.json
/chpt04-immobiliare/.env
