@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind animations;

.text-dan-favorite-red {
  --tw-text-opacity: 1;
  color: rgb(252 32 3/ var(--tw-text-opacity));
}

#sendMessageButton {
  display: none;
}


.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-button-container {
    position: fixed;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    z-index: 1000; /* Set a higher z-index value */
}

.menu-items-vertical {
    flex-direction: column;
    display: flex;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .menu-items-vertical {
        flex-direction: column;
    }

    #menuItems {
        position: fixed;
        top: 60px;
        right: 0px;
        z-index: 1000; /* Adjust the z-index value as needed */
        border-radius: 0.375rem;
        border: 1px solid rgb(156 163 175);
    }
}

@media (min-width: 768px) {
    .menu-container {
        flex-direction: row;
    }
}

.swiper {
    max-height: 30vh; /* Set your desired max height */
    max-width: 35vh; /* Prevents it from exceeding the parent's width */
    overflow: hidden; /* Ensure content doesn't exceed the max height */
}

.swiper-slide {
    width: auto; /* Prevents Swiper from setting fixed widths */
    max-width: 35vh;
    display: flex; /* Helps with image centering */
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    /* max-height: 250px;  Adjust this value as needed */
    max-height: 30vh;    /* 30 % of the viewport */
    max-width: 35vh;
    width: auto; /* Keeps the original aspect ratio */
    height: auto; /* Ensures the aspect ratio is maintained */
    object-fit: contain; /* Ensures the image fits within the slide */
    display: block; /* Removes extra spacing issues */
    margin: 0 auto; /* Centers the image horizontally */
}

.swiper .swiper-pagination.custom-pagination {
    display: flex;
    justify-content: center;
    gap: 6px; /* Adjust spacing between bullets */
    width: max-content; /* Ensures the width only fits the bullets */
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px; /* Adjust positioning */
    background: rgba(255, 255, 255, 0.5);
    padding: 6px 10px;
    border-radius: 8px;
}